@import "tailwindcss";

@theme {
  /*Nunito Sans as the default sans font */
  --font-sans: var(--font-nunito-sans), ui-sans-serif, system-ui, sans-serif;

  /* Custom Breakpoints */
  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

@layer base {
  * {
    @apply border-gray-200;
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}